{% extends 'registration/auth_base.html' %}
{% block page_title %}Reset Password{% endblock %}

{% block card_content %}
<div class="card-heading">Forgot your password?</div>
<div class="card-subtext">
    Enter your email address and we'll send you a link to reset your password.
</div>

<form method="POST" class="auth-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="auth-btn">SEND RESET LINK</button>
</form>

<p class="auth-link"><a href="{% url 'login' %}">&larr; Back to login</a></p>
{% endblock %}
