{% extends 'dairysync/base.html' %}

{% block content %}

<div class="topbar">
    <h1>System Alerts</h1>
</div>

<table>

    <tr>
        <th>Fridge</th>
        <th>Alert Type</th>
        <th>Message</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>

    {% for alert in alerts %}

    <tr>

        <td>{{ alert.fridge.fridge_code }}</td>

        <td>{{ alert.alert_type }}</td>

        <td>{{ alert.message }}</td>

        <td>

            {% if alert.resolved %}
                Resolved
            {% else %}
                Active
            {% endif %}

        </td>

        <td>{{ alert.created_at }}</td>

        <td>

            {% if not alert.resolved %}

                <a class="btn"
                   href="{% url 'resolve_alert' alert.id %}">
                   Resolve
                </a>

            {% else %}
                Resolved
            {% endif %}

        </td>

    </tr>

    {% empty %}

    <tr>
        <td colspan="6">No alerts found</td>
    </tr>

    {% endfor %}

</table>

{% endblock %}